.App {
  /* text-align: center; */
}

p {
  font-family: Didact Gothic;
}

button:focus {
  outline: none;
}

.mainSidebar {
  position: fixed;
  height: 100%;
  /* width: 400px; */
  background: white;
  z-index: 3;
  overflow-y : auto;
  margin-top: 70px;
  margin-bottom: 70px;
  transform: translateX(0px);
}

.cardObject {
  border: 1px solid lightgrey;
  width: 400px;
  /* height: 280px; */
  margin: 5px;
  border-bottom: 5px solid darkred;
}

.cardIMG {
  width: 400px;
  height: 200px;
  /* background-image: url("./data/pictures/able.PNG"); */
  background: white;
  background-position: center;
}

.nameObject {
  margin: 0px;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 5px;
  font-weight: 600;
}

.addressObject {
  margin: 0px;
  margin-left: 5px;
  margin-top: 5px;
  font-weight: 600;
}

.numberObject {
  margin: 5px;
  margin-bottom: 10px;
}

.markerButtons {
  width: 20px;
  height: 20px;
  background-color: lightgreen;
  border: 3px solid black;
  border-radius: 50%;
}

.navbar {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-bottom: 1px solid lightgrey;
  height: 70px;
  width: 100%;
  /* border-bottom: 3px solid black; */
}

.navbar p {
  margin: 0px;
  font-size: 2rem;
  font-weight: 600;
}

.sidebarbottom {
  height: 70px;
}

.menuarrow {
  position: fixed;
  z-index: 2;
  margin-left: 440px;
  height: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}


@media (max-width: 500px) {

  .navbar p {
   
    font-size: 1.3rem;

  }

  .mainSidebar {
    display: none;
  }

  }