.App {
  /* text-align: center; */
}

p {
  font-family: Didact Gothic;
}

button:focus {
  outline: none;
}

.mainSidebar {
  position: fixed;
  height: 100%;
  /* width: 400px; */
  background: white;
  z-index: 3;
  overflow-y : auto;
  margin-top: 70px;
  margin-bottom: 70px;
  transform: translateX(0px);
  /* width: 0px; */
  left: 0px;
  
}

.cardObject {
  border: 1px solid lightgrey;
  width: 400px;
  /* height: 280px; */
  margin: 5px;
  /* border-bottom: 5px solid darkred; */
}

.cardIMG {
  width: 400px;
  height: 200px;
  /* background-image: url("./data/pictures/able.PNG"); */
  background: white;
  background-position: center;
}

.nameObject {
  margin: 0px;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 5px;
  font-weight: 600;
}

.addressObject {
  margin: 0px;
  margin-left: 5px;
  margin-top: 5px;
  font-weight: 600;
}

.numberObject {
  margin: 5px;
  margin-bottom: 10px;
}


.navbar {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  border-bottom: 1px solid lightgrey;
  height: 70px;
  width: 100%;
  /* border-bottom: 3px solid black; */
}

.navbar p {
  margin: 0px;
  font-size: 2rem;
  font-weight: 600;
}

.sidebarbottom {
  height: 70px;
}

.menuarrow {
  position: fixed;
  z-index: 2;
  margin-left: 440px;
  height: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.arrowUp {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid white;
  
}

.describer {
  /* width: 150px;
  height: 30px; */
  display: flex;
  background-color: white;
  padding: 7px;
  max-width: 250px;
  box-shadow: 2px 2px 5px grey;
  font-family: Didact Gothic;
  font-weight: 600;
  text-align: center;
}

.describerContainer {
  display: none;
  z-index: 3;
}

.markerButtons {
  width: 15px;
  height: 15px;
  background-color: lightgreen;
  border: 3px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.aaa:hover .describerContainer {
  display: block;
  z-index: 50;
}

.aaa:hover .arrowUp {
  display: flex;
  z-index: 50;
}

.describerButton {
  background-color: white;
  border: 1px solid black;
  margin-right: 5px;
  font-family: Didact Gothic;
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px;
}

.btn1 {
  background-color: lightgreen;
}

.btn2 {
  background-color: lightblue;
  /* padding: 2px 4px;
  color: black;
  text-decoration: none;; */
}

.menuBurger {
  display: none;
  z-index: 3;
}

.describerSecondHalf {
  width: 80px;
  margin-left: 5px;
  background-position: center;
}

.doubleButtonContainer {
  width: 170px;
}

@media (max-width: 500px) {

  .navbar p {
   
    font-size: 1.3rem;

  }

  .mainSidebar {
    display: none;
  }

  .menuBurger {
    display: none;
  }

  }